@use "src/styles/abstracts/mixins" as *;
@use "src/styles/abstracts/constants" as *;

// Body
body {
  color: $text;
  background: $background;
  @include font;
  overflow-x: hidden;

  @include medium {
    overflow-y: auto!important;
  }
}